/* ----------------
-------fonts-------
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ----------------
--commont styles---
---------------- */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* ----------------
-------Header------
---------------- */

.top {
    margin: 50px 139px 0px 140px;
}


header {
    width: 1421px;
    height: 646px;
    margin-right: 0px;
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-spec {
    margin: 111px 0px 111px 106px;
    width: 65%;
    color: white;
    font-size: 16px;
}

.banner-spec h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-img {
    width: 581px;
    height: 613px;
    margin-top: 40px;
}

.watch-live {
    margin-top: 20px;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    background-color: #1ed25a;
    border: 1px solid rgb(105, 200, 27);
    color: white;
    font-size: 20px;
}

.watch-live:hover {
    background-color: #215f35;
    border: 1px solid #215f35;
}


/* ------------------
----main section-----
------------------ */
main {
    margin-top: 130px;
    display: flex;
}

.nav {
    width: 312px;
    height: 312px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.nav-box {
    width: 252px;
    height: 64px;
    background-color: white;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

#nav-box-3 {
    margin-bottom: 30px;
}

.nav-box a {
    text-decoration: none;
    color: #161616;
}

.current-page {
    background-color: #1ed25a;
}

.current-page a {
    color: white;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blog {
    width: 312px;
    height: 362px;
    border: 1px solid #b9afaf43;
    border-radius: 10px;
}

.transfer {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 3px;
    margin-top: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}

.blog-des {
    margin-left: 20px;
    margin-bottom: 20px;
}

.blog-des h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 0px;
}

.blog-time {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.blog-time p {
    margin-left: 8px;
    color: #16161670;
}

.blog-time i {
    color: #16161670;
}

footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
    margin-top: 130px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: #FFFFFF;
}

hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: #161616;
    margin-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-right: 45px;
}

.awesome {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.awesome a {
    margin-left: 45px;
}

/* For all matches */

.blog-matches {
    width: 312px;
    height: 242px;
    border: 1px solid #b9afaf43;
    border-radius: 10px;
}

.match-box {
    margin: 28px 30px 53px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flags h5 {
    margin-left: 15px;
    margin-right: 15px;
}

.match-box h4 {
    font-size: 20px;
    font-weight: 400;
}

.match-box p {
    font-size: 16px;
    color: #4D4D4D;
}

#special {
    font-size: 18px;
}

.blog_1{
    background-color: skyblue;
}

.blog_1 ul{
    margin-left: 50px;
}

.blog_1:hover{
    background-color:#1ed25a;
}

.blog_1:hover{
    color: white;
}

.blog_1 h1{
    margin: 35px;
}